body {
  margin: 0;
  color: #ffffff;
  background: #424242;
}

.nav {
  background: #323232;
}
.nav__container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.nav__brand {
  display: inline-block;
  padding: 0.25rem;
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}

.main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}

.form {
  margin-bottom: 2rem;
}
.form__input,
.form__textarea {
  width: 100%;
  margin: 0.25em 0;
  padding: 0.5em 0.5em;
  box-sizing: border-box;
  border-radius: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}
.form__textarea {
  height: 5em;
  resize: vertical;
}
.form__button {
  padding: 0.5em 1.2em;
  color: #ffffff;
  background-color: #57aff0;
  font-size: 1.1em;
  font-weight: bolder;
  border: solid 1px #68d2ff;
  border-radius: 0.25em;
}
.form__error {
  margin: 0.5em 0;
  padding: 0.25em 1em;
  color: #fab3ae;
  border: solid 1px #f44336;
  border-radius: 0.5em;
  font-size: 0.8em;
}

.posts__item {
  margin: 1rem 0rem;
  padding: 1rem 1rem;
  background: #4d4d4d;
  border-left: solid 4px #3cf064;
}
.posts__item-header {
  font-size: 1.2rem;
  font-weight: bolder;
}
.posts__item-text {
  word-wrap: break-word;
}
.posts__item-footer {
  color: #d0d0d0;
  font-size: 0.75rem;
  text-align: right;
}
