appname = beego-bbs
httpport = 8080
runmode = dev

EnableXSRF = true
XSRFKey = 9njaonEYr/ej2YgXD6rpBWOvuxDwjDgfyB9PpzDU
XSRFExpire = 3600

mysqlConn = user:passwd@tcp(127.0.0.1:3306)/test?charset=utf8mb4
